body{

  background: linear-gradient(300deg, #3700ff, #25fa6c, #3700ff);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.profile{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:100px 0px 100px 0px ;
}
@media (max-width:576px){
  .profile{margin: 200px;}
  .profile > img{margin-right:120px}
  .card{margin-left:140px;}
  .title{margin-right: 200px;}
}
.profile > p{
  font-size: 3em;   
}
.mid{
  background-color: #f8f9fa;
  justify-content: center;
  align-items: center;
}
.websites{
  display: grid;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
.card{
  margin: 20px;
}
.hobbies{
  margin:20px;
  display:grid;
  justify-content: center;
  align-items: center;
}
.title{
  text-align: center;
  padding: 20px;
  padding-bottom:0%;
}
.space{
  margin: 20px;
}
#imgCanvas{
 background-color: white;
}
